{% comment %} auto path completion {% endcomment %}
{% assign post_basename = page.path | split: "/" | last | remove: ".md" %}
{% assign folder_id = post_basename | slice: 11, 255 %}
{% assign img_base = "/assets/images/" | append: folder_id | append: "/" %}
{% assign thumb_base = "/assets/thumbs/" | append: folder_id | append: "/" %}

{% if include.id %}
  {% assign gallery = page[include.id] %}
{% else %}
  {% assign gallery = page.gallery %}
{% endif %}

{% if include.layout %}
  {% assign gallery_layout = include.layout %}
{% else %}
  {% if gallery.size == 2 %}
    {% assign gallery_layout = 'half' %}
  {% elsif gallery.size >= 3 %}
    {% assign gallery_layout = 'third' %}
  {% else %}
    {% assign gallery_layout = '' %}
  {% endif %}
{% endif %}

<figure class="discord-gallery {{ include.class }}">
  {% for item in gallery %}
    {% comment %} use img: "name.png" instead of url or image_path! {% endcomment %}
    {% if item.vid %}
      {% include videoPlayer.html url=item.vid %}
    {% else %}
      {% if item.img contains '://' %}
        {% assign original_path = item.img %}
        {% assign thumb_path = item.img %}
      {% else %}
        {% assign filename = item.img %}
        {% assign thumb_name = filename | replace: ".png", ".webp" | replace: ".jpg", ".webp" | replace: ".jpeg", ".webp" %}
        {% assign original_path = img_base | append: filename | relative_url %}
        {% assign thumb_path = thumb_base | append: thumb_name | relative_url %}
      {% endif %}

      <a href="{{ original_path }}"
         class="popup-video"
         {% if item.title %}title="{{ item.title | escape_once }}"{% endif %}>
        <img src="{{ thumb_path }}"
             alt="{% if item.alt %}{{ item.alt | escape_once }}{% else %}{{ item.title | escape_once }}{% endif %}">
      </a>
    {% endif %}
  {% endfor %}

  {% if include.caption %}
    <figcaption>{{ include.caption | markdownify | remove: "<p>" | remove: "</p>" }}</figcaption>
  {% endif %}
</figure>